body{
    text-align: center;
    background-color:rgb(255, 233, 204);
}



#appContainer{
    background-color:rgb(255, 233, 204);
    position:absolute;
    left: 200px;
}



.county:hover{
    fill:rgb(174, 1, 226)
}

#tooltip{
    padding: 10px;
    background-color: rgb(255, 215, 167);
    border-radius: 10px;
    opacity: 80%;
}