body{
    text-align: center;
    background-color:rgb(65, 65, 65);
    align-items: center;
    /* height: 100%; */
    /* overflow: hidden; */
}

h1{
    font-family:Arial, Helvetica, sans-serif;   
}
h5{
    font-family:Arial, Helvetica, sans-serif;  
    font-size: medium;
    font-weight: 400;
}

#full-page{
    background-color: rgb(65, 65, 65);
    text-align: center;
    align-items: center;
    margin: auto;
    width: 90%;
   
    padding-top: 40px;
    padding-bottom: 800px;
   
}


#appContainer{
    background-color:rgb(255, 242, 226);
    position:absolute;
    text-align: center;
    /* left: 100px; */
    width: 90%;
    /* height: 80%; */
    height: 100%;
    margin: auto;
    max-width: 100%;
    
    /* border-top: 100px solid grey; */
    /* border: 100px, solid, grey; */
   
}



.county:hover{
    fill:rgb(174, 1, 226)
}


#tooltip{
    padding: 10px;
    background-color: rgb(255, 215, 167);
    border-radius: 10px;
    opacity: 80%;
}

#maparea{
    padding-left: 80px;
    max-width: 100%;
    max-height: 100%
}

#legend{
    /* position: relative; */
    
}

.axis-text{
    font-family:Arial, Helvetica, sans-serif;   
    font-size: 10px;
}
