body{
    text-align: center;
    background-color:rgb(255, 242, 226);
    align-items: center;
    height: 100%;
    /* overflow: hidden; */
}

h1{
    font-family:Arial, Helvetica, sans-serif;   
}
h5{
    font-family:Arial, Helvetica, sans-serif;  
    font-size: medium;
    font-weight: 400;
}




#appContainer{
    background-color:rgb(255, 242, 226);
    position:absolute;
    text-align: center;
    left: 100px;
    width: 100%;
    max-width: 100%;
   
}



.county:hover{
    fill:rgb(174, 1, 226)
}


#tooltip{
    padding: 10px;
    background-color: rgb(255, 215, 167);
    border-radius: 10px;
    opacity: 80%;
}